*{
    margin: auto;
    text-align: center;
}

body div{
    background-color: #fff;
    color: black;
}

.modooscuro{
    background-color: black;
    color: #fff;
}

input, select, textarea{
    display: block;
    margin: auto;
    margin-bottom: 7px;
}

#label-nombre{
    display: block;
}

h1{
    margin: 10px 0px;
}

textarea{
    width: 200px;
    height: 120px;
}

#terminos{
    display: inline;
}

#btnRegistrar{
    display: block;
    width: 200px;
    margin-top: 7px;
}

#btnContraste{
    margin-bottom: 7px;
}

#btnFuente{
    margin-bottom: 7px;
}

body.fontsize{
    font-size: 20px;
}